/* start section products */
.products {
    margin: 75px 0;
    .title {
        padding: 0;
        /* use flex box */
        display: flex;
        list-style: none;
        justify-content: space-between;
        li {
            font-weight: bold;
            &:first-of-type {
                color: #fff;
                /* use var sass */
                background-color: $color-b;
            }
            span {
                font-size: 20px;
                margin-left: 5px;
                vertical-align: middle;                
            }
        }
    }
    .prodect {
        .card {
            border: none;
            cursor: pointer;
            .cart {
                top: 10px;
                z-index: 1;
                right: 10px;                
                width: 35px;
                height: 35px;
                position: absolute;
                text-align: center;
                background-color: #fff;
                /* use mixin sass */
                @include browser(border-radius, 50%, o ms moz webkit);
                @include browser(box-shadow, 1px 1px 7px -1px #999393a8, o ms moz webkit);
                i {
                    color: $color-r;
                    line-height: 35px;
                }
            }
        }
        .cont-img {
            overflow: hidden;
            position: relative;
            /* use mixin sass */
            @include browser(border-radius, 0.25rem, o ms moz webkit);
            &:hover  {
                &::after {
                    opacity: .5;
                }
            }
            &::after {
                top: 0;
                left: 0;
                opacity: 0;
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background-image: linear-gradient(227deg, #E12020, #274B96);
                /* use mixin sass */
                @include browser(transition, opacity .5s ease-in-out, o ms moz webkit);
            }
        }
        .card-body {
            padding: 0;
            .card-text {
                font-size: 13px;
                font-weight: 600;
                margin-top: 10px;
            }
            ul {
                margin: 0;
                padding: 0;
                /* use flex box */
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: space-between;
                &.info {
                    margin-bottom: 15px;
                    li {
                        &:first-of-type {
                            font-size: 11px;
                        }
                        &:last-of-type {
                            /* use var sass */
                            color: $color-r;                        
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }                    
                }
                &.ditlist li {
                    color: #fff;
                    &:first-of-type {
                        font-weight: 400;                        
                        padding: 10px 55px;
                        /* use var sass */
                        background: $color-b;
                    }
                    &:last-of-type {
                        padding: 10px 15px;
                        /* use var sass */
                        background-color: $color-r;
                    }
                }
            }
        }
    }
}
/* End section products */

/* Start section status */
.status {
    padding: 65px 0;
    overflow: hidden;
    position: relative;
    /* use var sass */
    background-color: $color-bk;
    .circal {
        top: -125px;
        width: 500px;
        height: 500px;
        position: absolute;
        border-radius: 50%;
        background-color: #ffffff0a;
        &.circal-1 {
            left: -35px;
        }
        &.circal-2 {
            left: 320px;
        }
        &.circal-3 {
            right: 320px;
        }
        &.circal-4 {
            right: -35px;
        }                        
    }
    .box-status {
        .cont-status {
            cursor: pointer;
            /* use mixin sass */
            @include browser(border-radius, 15px, o ms moz webkit);
            &.orders {
                /* use var sass */
                background-color: $color-rm;
            }
            &.limit {
                /* use var sass */
                background-color: $color-b;
            }
            &.item {
                /* use var sass */
                background-color: $color-r;
            }
            &.users {
                /* use var sass */
                background-color: $color-g;
            }                                    
            ul {
                margin: 0;
                display: flex;
                list-style: none;
                font-weight: bold;
                padding: 10px 20px;
                /* use flex box */
                align-items: center;
                justify-content: space-between;
                li {
                    color: #fff;
                    &:first-of-type {
                        font-size: 45px;   
                    }
                    &:last-of-type {
                        text-align: center;
                        span {
                            display: block;
                            &:first-of-type {
                                font-size: 40px;
                            }
                            &:last-of-type {
                                font-size: 13px;
                            }
                        }
                    }                 
                }
            }
        }
    }
}
/* End section status */
/**/
/* Start style page product */
// ------
/* start section path */
.path .breadcrumb{
    /* use mixin sass */
    @include browser(border-radius, 35px, o ms moz webkit);
}
/* end section path */

/* start section view-product */
.view-product {
    .view {
        .dis {
            p {
                font-size: 22px;
                /* use var sass */
                color: $color-t-b;
            }
        }
        .section {
            ul {
                padding: 0;
                list-style: none;
                li {
                    font-size: 16px;
                    font-weight: 300;
                    /* use var sass */
                    color: $color-t-sg;
                    display: inline-block;
                    &:not(:nth-of-type(2)) span {
                        margin-right: 2px;
                    }
                    &:nth-of-type(2) {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
    .view-img .cont-img {
        padding: 5px;
        background-color: #fff;
        /* use var sass */
        border: 1px solid $color-Bg;
        /* use mixin sass */
        @include browser(box-shadow, 0px 1px 4px -3px #a89e9e, o ms moz webkit);
        img {
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    }
    .slid-item ul {
        padding: 0;
        /* use flex box */
        display: flex;
        list-style: none;
        justify-content: space-between;
        li {
            padding: 0 5px;
            background-color: #fff;
            /* use var sass */
            border: 1px solid $color-Bg;
            /* use mixin sass */
            @include browser(box-shadow, 0px 1px 4px -3px #a89e9e, o ms moz webkit);
            &:not(:first-of-type):not(:last-of-type) {
                margin: 0 10px;
            }
            &.active {
                /* use var sass */
                border: 3px solid $color-b;
            }
            img {
                height: auto;
                max-width: 100%;
            }
        }
    }
    .some-details {
        .price span {
            &:first-of-type {
                /* use var sass */
                color: $color-r;
                font-size: 22px;
                font-weight: bold;
            }
            &:last-of-type {
                font-size: 17px;
                font-weight: 600;
                margin-right: 5px;
                /* use var sass */
                color: $color-t-b;
            }
        }
        .delivery p {
            font-size: 13px;
            font-weight: 300;
            /* use var sass */
            color: $color-rm;
            line-height: 30px;
        }
    }
    .more-details {
        /* use flex box */
        display: flex;
        padding: 24px 0;
        position: relative;
        align-items: center;
        &::after, &::before {
            left: 0;
            content: '';
            height: 1.3px;
            width: 100%;
            position: absolute;
            /* use var sass */
            background-color: $color-Bg;                
        }
        &::after {
            bottom: 0;
        }
        &::before {
            top: 0;
        }            
        h4 {
            font-size: 18px;
            /* use var sass */
            color: $color-b;
            margin-bottom: 0;
            font-weight: bold;
        }
        .line {
            width: 84px;
            height: 1.3px;
            margin-top: 4px;
            margin-right: 20px;
            /* use var sass */
            background: $color-b;
        }
    }
    .info ul {
        padding-right: 20px;
        list-style-type: circle;
        li {
            font-size: 14px;
            font-weight: 400; 
            /* use var sass */           
            color: $color-rm;                
            &:not(:last-of-type) {
            margin-bottom: 9px;
            }
            &:last-of-type span {
                margin-right: 2px;                    
            }
        }
    }
    .order ul {
        padding-right: 0;
        list-style: none;
        li {
            display: inline-block;
            margin-bottom: 10px;
            &:not(:last-of-type) {
                margin-left: 10px;
            }
            &:first-of-type button {
                padding: 10px 35px;
                /* use var sass */
                background-color: $color-b;
                /* use mixin sass */
                @include browser(border-radius, 22px, o ms moz webkit);
                @include browser(box-shadow, 1px 2px 5px 0px #00000052, o ms moz webkit);            
            }
            &:nth-of-type(2) button {
                padding: 10px 20px;
                /* use var sass */
                background-color: $color-r;
                /* use mixin sass */
                @include browser(border-radius, 22px, o ms moz webkit);
                i {
                    vertical-align: middle;
                }
            }
            &:last-of-type {
                font-size: 14px;
                font-weight: bold;
                span {
                    margin-right: 12px;
                    i {
                        vertical-align: middle;
                        &:not(:last-of-type) {
                            margin-left: 6px;
                        }
                    }
                }
            }
            button {
                color: #fff;
                font-size: 13px;
                font-weight: 400;
            }            
        }
    }
    .media ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
        li {
            /* use var sass */
            color: $color-b;
            cursor: pointer;
            margin-bottom: 10px;
            display: inline-block;
            vertical-align: middle;
            &:first-of-type {
                font-size: 14px;
            }
            &:not(:last-of-type) {
                margin-left: 25px;
            }
            i {
                font-size: 25px;
                vertical-align: middle;
            }
        }
    }   
}

/* end section view-product */
// ------
/* End style page product */
/**/

/* Start style page products */
// ------
/* Start section .load-more */
.load-more button {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 60px;    
    background-color: $color-b;
    @include browser(border-radius, 22px, o ms moz webkit);
}
/* End section .load-more */
// ------
/* End style page products */
/**/


