/* start Media query */
@media  (max-width: 992px) {
    header .info  {
        .text {
            color: #000;
            text-align: center;
            padding: 40px 40px;
            border: 2px solid $color-rm;
        }
        .el-hide {
            height: 565px;
            div {
                &:first-of-type {
                    top: 275px !important;
                    left: 185px !important;
                }
                &:nth-of-type(2) {
                    top: 360px !important;
                    left: 115px !important;
                }
                &:last-of-type {
                    top: 445px !important;
                    left: 80px !important;
                }
            }             
        }
    }
    footer .contact-us .link, .contact{
        flex-wrap: wrap;
    }   
}
@media  (max-width: 767px) {
    header .info .servers {
        flex-flow: wrap;
        text-align: center;
        display: flex !important;
        justify-content: center;
        div {
            flex-grow: 1;
        }
    }
}
/* end Media query */