/*Start Variables Colors Pages*/
$color-b: #2A509F;
$color-t-b: #0056FF;
$color-Bg: #EFEFEF;
$color-t-sg: #939393;
$color-r: #E12029;
$color-g: #6DE120;
$color-bk: #1E2533;
$color-rm: #747474;
$color-border: #707070;
$color-gray: #F7F7F7;

// color social media
$color-fb: #3b5999;
$color-twitter: #55acee;
$color-insta: #e4405f; 
$color-k-in: #0077B5;
$color-pint: #bd081c;
$color-Be: #131418;
/*End Variables Colors Pages*/

/*Start Variables Float Diraction*/
$float-left: left;
$float-right: right;
/*End Variables Float Diraction*/

/*Start Variables Helprs*/
$text-upper: uppercase;
$text-lower: lowercase;
/*Start Variables Helprs*/
