/*Start Variables Colors Pages*/
$color-b: #2A509F;
$color-r: #E12029;
$color-g: #6DE120;
$color-bk: #1E2533;
$color-rm: #747474;
$color-border: #707070;
/*End Variables Colors Pages*/

/*Start Variables Float Diraction*/
$float-left: left;
$float-right: right;
/*End Variables Float Diraction*/

/*Start Variables Helprs*/
$text-upper: uppercase;
$text-lower: lowercase;
/*Start Variables Helprs*/
