// default style 
body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Cairo', sans-serif;
    background: url(../../../image/Group7.png) no-repeat center center;
}
.notification {
    top: 70px;
    right: -100%;
    position: fixed;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: $color-b;
    transition: right .5s linear;
    cursor: pointer;
    &.show {
        right: 20px;
    }
    span {
        margin-right: 10px;
        i {
            color: #fff;            
            font-size: 20px;
            vertical-align: middle;
        }
    }
    a {
        color: #fff;
        font-weight: 600;        
    }
}
