//- import from 
extends index.pug

block TitlePage
	title Account

block Header
	header
		block Test
		// use navbar Bootstrp 4
		nav(class="navbar navbar-expand-lg navbar-light product pt-4 dir-right")
			// container Bootstrap 4
			.container
				a(class="navbar-brand m-0" href="./index.html"): img(src="./image/logo.png" width="53" height="68" alt="" loading="lazy")
				button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
					span: i.far.fa-bars
				div(class="collapse navbar-collapse" id="navbarSupportedContent")
					ul(class="navbar-nav mr-auto d-block d-lg-flex")
						li(class="nav-item")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.far.fa-envelope-open.mx-1] تواصل معنا 
						li(class="nav-item")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.fas.fa-question.mx-1] الأسئلة الشائعة
						li(class="nav-item dropdown")
							// use icon fontAwesome 5
							a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #[i.far.fa-user-circle.mx-1] تسجيل الدخول
							div( class="dropdown-menu" aria-labelledby="navbarDropdown")
								a(class="dropdown-item" href="#") Action
								a(class="dropdown-item" href="#") Another action
								div(class="dropdown-divider")
								a(class="dropdown-item" href="#") Something else here
						li(class="nav-item search not-home")
							form.form-search
								input(type="search" class="form-control" id="search" aria-describedby="searchHelp")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.fas.fa-search.mx-1]
						li(class="nav-item cart d-inline-block")
							span.total-cart 0 shadow-sm
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.fas.fa-shopping-cart.mx-1]

block contentPage
	// Start section path
	section.path
		// use container Bootstrap 4
		.container
			// use breadcrumb Bootstrap 4
			nav.mb-3.mt-5.dir-right.text-right(aria-label="breadcrumb")
				ol.breadcrumb
					li.breadcrumb-item: a(href="#"): i.fas.fa-home
					li.breadcrumb-item.active(aria-current="page") حسابك
	// End section path
	|
	|
	// Start section cart
	section.account
		// use container Bootstrap 4
		.container
			// use grid system Bootstrap 4
			.row.dir-right.text-right.my-5
				.col-sm-12.col-md-5.col-lg-3.chooss-img.mb-5
					span الصورة الشخصية
					.cont
						img(src="./image/moaz.jpg", alt="", srcset="")
						label.btn.choose(for="choose") اختر الصورة
							input(type="file", name="" id='choose')
				.col-sm-12.col-md-7.col-lg-9.data-user
					form
						// use form group Bootstrap 4
						.form-row
							.form-group.col-lg-6
								label(for="inputEmail4") البريد الإلكتروني
								input(type="email" class="form-control shadow-sm" id="inputEmail4")
							.form-group.col-md-6
								label(for="inputNumber") رقم الهاتف
								input(type="number" class="form-control shadow-sm" id="inputNumber")
							.form-group.col-md-6
								label(for="fullName") الأسم بالكامل
								input(type="text" class="form-control shadow-sm" id="fullName")
							.form-group.col-md-6
								label(for="inputPassword4") كلمة المرور الجديدة
								input(type="password" class="form-control shadow-sm" id="inputPassword4")
						.form-group
							label(for="inputAddress") العنوان
							input(type="text" class="form-control shadow-sm" id="inputAddress" placeholder="اسمنا تاريخ لوحده اسال علينا ده احنا استوينا")
				.col-sm-12.text-center.send.my-5
					button.btn حفظ التغييرات
	// End section cart