//- import from 
extends index.pug

block TitlePage
	title Cart

block Header
	header
		block Test
		// use navbar Bootstrp 4
		nav(class="navbar navbar-expand-lg navbar-light product pt-4 dir-right")
			// container Bootstrap 4
			.container
				a(class="navbar-brand m-0" href="./index.html"): img(src="./image/logo.png" width="53" height="68" alt="" loading="lazy")
				button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
					span: i.far.fa-bars
				div(class="collapse navbar-collapse" id="navbarSupportedContent")
					ul(class="navbar-nav mr-auto")
						li(class="nav-item")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.far.fa-address-card.mx-1] تواصل معنا 
						li(class="nav-item")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.far.fa-question-circle.mx-1] الأسئلة الشائعة
						li(class="nav-item dropdown")
							// use icon fontAwesome 5
							a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #[i.far.fa-sign-in-alt.mx-1] تسجيل الدخول
							div( class="dropdown-menu" aria-labelledby="navbarDropdown")
								a(class="dropdown-item" href="#") Action
								a(class="dropdown-item" href="#") Another action
								div(class="dropdown-divider")
								a(class="dropdown-item" href="#") Something else here
						li(class="nav-item")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.far.fa-question-circle.mx-1]
						li(class="nav-item")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.far.fa-question-circle.mx-1]

block contentPage
	// Start section path
	section.path
		// use container Bootstrap 4
		.container
			// use breadcrumb Bootstrap 4
			nav.mb-3.mt-5.dir-right.text-right(aria-label="breadcrumb")
				ol.breadcrumb
					li.breadcrumb-item: a(href="#"): i.fab.fa-product-hunt
					li.breadcrumb-item.active(aria-current="page") عربة التسوق
	// End section path
	|
	|
	// Start section cart
	section.cart
		// use container Bootstrap 4
		.container
			// use gird system Bootstrap 4
			.row.dir-right.text-right.my-5.row-cart.row-cart
				.col-sm-12.col-md-6.col-lg-2.mb-4.view-product
					.cont-img: img(src="./image/NoPath.png", alt="")
				.col-sm-12.col-md-6.col-lg-7.mb-4.details
					p طقم كنكة قهوة تركي ستانلس ستيل مع مقابض ستانلس ستيل من زهران 0330013630- فضي، 3 قطع
					ul
						li العدد المتاح في المخزن : #[span 5]
						li سعر الوحدة : #[span 250.00] جنية
						li الكمية : 
							button.btn
								span 1
								// use icon FontAwsome 5
								i.fa.fa-plus-circle 
				.col-sm-12.col-md-6.col-lg-3.state-order.d-flex.align-items-end
					ul.ul-cart
						li الإجمالي #[span 250.00] جنية
						li
							// use icon FontAwsome 5
							button.btn #[span: i.fas.fa-trash-alt] حذف من العربه
			.row.dir-right.text-right.my-5.row-cart
				.col-sm-12.col-md-6.col-lg-2.mb-4.view-product
					.cont-img: img(src="./image/NoPath.png", alt="")
				.col-sm-12.col-md-6.col-lg-7.mb-4.details
					p طقم كنكة قهوة تركي ستانلس ستيل مع مقابض ستانلس ستيل من زهران 0330013630- فضي، 3 قطع
					ul
						li العدد المتاح في المخزن : #[span 5]
						li سعر الوحدة : #[span 250.00] جنية
						li الكمية : 
							button.btn
								span 1
								// use icon FontAwsome 5
								i.fa.fa-plus-circle 
				.col-sm-12.col-md-6.col-lg-3.state-order.d-flex.align-items-end
					ul.ul-cart
						li الإجمالي #[span 250.00] جنية
						li
							// use icon FontAwsome 5
							button.btn #[span: i.fas.fa-trash-alt] حذف من العربه
			.row.dir-right.text-right.my-5.row-cart
				.col-sm-12.col-md-6.col-lg-2.mb-4.view-product
					.cont-img: img(src="./image/NoPath.png", alt="")
				.col-sm-12.col-md-6.col-lg-7.mb-4.details
					p طقم كنكة قهوة تركي ستانلس ستيل مع مقابض ستانلس ستيل من زهران 0330013630- فضي، 3 قطع
					ul
						li العدد المتاح في المخزن : #[span 5]
						li سعر الوحدة : #[span 250.00] جنية
						li الكمية : 
							button.btn
								span 1
								// use icon FontAwsome 5
								i.fa.fa-plus-circle 
				.col-sm-12.col-md-6.col-lg-3.state-order.d-flex.align-items-end
					ul.ul-cart
						li الإجمالي #[span 250.00] جنية
						li
							// use icon FontAwsome 5
							button.btn #[span: i.fas.fa-trash-alt] حذف من العربه
			.row.dir-right.text-right.my-5.row-cart
				.col-sm-12.col-md-6.col-lg-2.mb-4.view-product
					.cont-img: img(src="./image/NoPath.png", alt="")
				.col-sm-12.col-md-6.col-lg-7.mb-4.details
					p طقم كنكة قهوة تركي ستانلس ستيل مع مقابض ستانلس ستيل من زهران 0330013630- فضي، 3 قطع
					ul
						li.li-cart العدد المتاح في المخزن : #[span 5]
						li سعر الوحدة : #[span 250.00] جنية
						li الكمية : 
							button.btn
								span 1
								// use icon FontAwsome 5
								i.fa.fa-plus-circle
				.col-sm-12.col-md-6.col-lg-3.state-order.d-flex.align-items-end
					ul.ul-cart
						li الإجمالي #[span 250.00] جنية
						li
							// use icon FontAwsome 5
							button.btn #[span: i.fas.fa-trash-alt] حذف من العربه
			.row.dir-right.text-right.align-items-center.row-cart
				.col-sm-6.more.my-2.text-center.text-sm-right
					button.btn تابع عملية الشراء
				.col-sm-6.total.my-2.text-center.text-sm-left
					ul 
						li 
							span: img(src="./image/Arrow.png", alt="alt")
							span إجمالي المبلغ 
						li #[span 250.00] جنية
	// End section cart