//- import from 
extends index.pug

block TitlePage
	title Prodects

block Header
	header
		block Test
		// use navbar Bootstrp 4
		nav(class="navbar navbar-expand-lg navbar-light product pt-4 dir-right")
			// container Bootstrap 4
			.container
				a(class="navbar-brand m-0" href="./index.html"): img(src="../image/logo.png" width="53" height="68" alt="" loading="lazy")
				button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
					span: i.far.fa-bars
				div(class="collapse navbar-collapse" id="navbarSupportedContent")
					ul(class="navbar-nav mr-auto")
						li(class="nav-item")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.far.fa-address-card.mx-1] تواصل معنا 
						li(class="nav-item")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.far.fa-question-circle.mx-1] الأسئلة الشائعة
						li(class="nav-item dropdown")
							// use icon fontAwesome 5
							a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #[i.far.fa-sign-in-alt.mx-1] تسجيل الدخول
							div( class="dropdown-menu" aria-labelledby="navbarDropdown")
								a(class="dropdown-item" href="#") Action
								a(class="dropdown-item" href="#") Another action
								div(class="dropdown-divider")
								a(class="dropdown-item" href="#") Something else here
						li(class="nav-item")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.far.fa-question-circle.mx-1]
						li(class="nav-item")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.far.fa-question-circle.mx-1]

block contentPage
	// Start section path
	section.path
		// use container Bootstrap 4
		.container
			// use breadcrumb Bootstrap 4
			nav.mb-3.mt-5.dir-right.text-right(aria-label="breadcrumb")
				ol.breadcrumb
					li.breadcrumb-item: a(href="#"): i.fab.fa-product-hunt
					li.breadcrumb-item.active(aria-current="page") جميع المنتجات
	// End section path
	|
	|
	//Start section products
	section.products.m-0
		// containar Bootstrap 4
		.container
			.row.mb-5
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.cart: i.far.fa-shopping-cart|
						|
						|
						div.cont-img: img(src="../image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.far.fa-shopping-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.cart: i.far.fa-shopping-cart|
						|
						|
						div.cont-img: img(src="../image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.far.fa-shopping-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.cart: i.far.fa-shopping-cart|
						|
						|
						div.cont-img: img(src="../image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.far.fa-shopping-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.cart: i.far.fa-shopping-cart|
						|
						|
						div.cont-img: img(src="../image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.far.fa-shopping-cart
			.row
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.cart: i.far.fa-shopping-cart|
						|
						|
						div.cont-img: img(src="../image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.far.fa-shopping-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.cart: i.far.fa-shopping-cart|
						|
						|
						div.cont-img: img(src="../image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.far.fa-shopping-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.cart: i.far.fa-shopping-cart|
						|
						|
						div.cont-img: img(src="../image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.far.fa-shopping-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.cart: i.far.fa-shopping-cart|
						|
						|
						div.cont-img: img(src="../image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك
							ul.info
								li اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.far.fa-shopping-cart
			.row
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.cart: i.far.fa-shopping-cart|
						|
						|
						div.cont-img: img(src="../image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.far.fa-shopping-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.cart: i.far.fa-shopping-cart|
						|
						|
						div.cont-img: img(src="../image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.far.fa-shopping-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.cart: i.far.fa-shopping-cart|
						|
						|
						div.cont-img: img(src="../image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.far.fa-shopping-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.cart: i.far.fa-shopping-cart|
						|
						|
						div.cont-img: img(src="../image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك
							ul.info
								li اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.far.fa-shopping-cart
	// End section products
	|
	|
	// Start section load-more
	section.load-more.mb-5
		.container
			.row.text-center.py-5
				.col-sm-12
					button.btn تحميل المزيد
	// End section load-more