//- import from 
extends index.pug

block TitlePage
	title Prodect

block Header
	header
		block Test
		// use navbar Bootstrp 4
		nav(class="navbar navbar-expand-lg navbar-light product pt-4 dir-right")
			// container Bootstrap 4
			.container
				a(class="navbar-brand m-0" href="./index.html"): img(src="./image/logo.png" width="53" height="68" alt="" loading="lazy")
				button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
					span: i.far.fa-bars
				div(class="collapse navbar-collapse" id="navbarSupportedContent")
					ul(class="navbar-nav mr-auto d-block d-lg-flex")
						li(class="nav-item")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.far.fa-envelope-open.mx-1] تواصل معنا 
						li(class="nav-item")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.fas.fa-question.mx-1] الأسئلة الشائعة
						li(class="nav-item dropdown")
							// use icon fontAwesome 5
							a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #[i.far.fa-user-circle.mx-1] تسجيل الدخول
							div( class="dropdown-menu" aria-labelledby="navbarDropdown")
								a(class="dropdown-item" href="#") Action
								a(class="dropdown-item" href="#") Another action
								div(class="dropdown-divider")
								a(class="dropdown-item" href="#") Something else here
						li(class="nav-item search not-home")
							form.form-search
								input(type="search" class="form-control" id="search" aria-describedby="searchHelp")
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.fas.fa-search.mx-1]
						li(class="nav-item cart d-inline-block")
							span.total-cart 0
							// use icon fontAwesome 5
							a(class="nav-link" href="#") #[i.fas.fa-shopping-cart.animation-cart.mx-1]

block contentPage
	// Start section path
	section.path
		// use container Bootstrap 4
		.container
			// use breadcrumb Bootstrap 4
			nav.my-5.dir-right.text-right(aria-label="breadcrumb")
				ol.breadcrumb
					li.breadcrumb-item: a(href="#"): i.fas.fa-home
					li.breadcrumb-item: a(href="#") أجهزة_كهربائية
					li.breadcrumb-item.active(aria-current="page") خلاط جراندي (أسود/أبيض) 3 × 1
	// End section path
	|
	|
	// Start section view-product
	section.view-product
		// use container Bootstrap 4
		.container
			// use grid system Bootstrap 4
			.row.dir-right.text-right.my-5
				.col-sm-12.col-md-6.view.my-4
					.col-sm-12.p-0.dis: p طقم كنكة قهوة تركي ستانلس ستيل مع مقابض ستانلس ستيل من زهران 0330013630- فضي، 3 قطع
					.col-sm-12.p-0.section
						ul
							li القسم: #[span أجهزة كهربائية]
							li -
							li التقييم: #[span 8/10]
				.col-sm-12.col-md-6.some-details.my-4
					.col-sm-12.p-0.price
						span 250.00
						span جنية
					.col-sm-12.p-0.delivery.my-3: p الأسعار تشمل ضريبة القيمة المضافة <br> مشمولة في الشحن المجاني على طلبات أكثر من 350.00 جنيه
				.col-sm-12.col-md-7.col-lg-6.mb-4.view-img
					.col-sm-12.p-0
						.cont-img#view_img
							img(src="./image/NoPath.png", alt="")
							img(src="./image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png", alt="")
							img(src="./image/NoPath-2.png", alt="")
							img.active(src="./image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png", alt="")
					.col-sm-12.p-0.slid-item.mt-3
						ul#children
							li
								img(src="./image/NoPath-2.png", alt="")
							li
								img(src="./image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png", alt="")
							li
								img(src="./image/NoPath-4.png", alt="")
							li.active
								img(src="./image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png", alt="")
				.col-sm-12.col-md-5.col-lg-6
					.col-sm-12.mb-4.more-details
						h4 تفاصيل المنتج
						.line
					.col-sm-12.p-0.info
						ul
							li ستنلس ستيل 18/10
							li قاعدة ثلاثية سميكة لضمان توزيع الحرارة بالتساوي
							li طقم 3 قطع
							li لمقاس: #[span 3,2,5]
					.col-sm-12.order.p-0.my-4
						ul
							li: button.btn اضف الى عربة التسوق
							li: button.btn: i.far.fa-heart
							li تقييم المنتج : 
								span 
									// icon fontAwesome 5
									i.fal.fa-star
									i.fal.fa-star
									i.fal.fa-star
									i.fal.fa-star
									i.fal.fa-star
					.col-sm-12.media.p-0.mt-5
						ul.text-center.text-sm-right
							// icon fontAwesome 5
							li.d-block.d-sm-inline-block.d-md-block.d-lg-inline-block المشاركة عبر : 
							li: i.fab.fa-behance
							li: i.fab.fa-pinterest
							li: i.fab.fa-linkedin
							li: i.fab.fa-instagram
							li: i.fab.fa-twitter
							li: i.fab.fa-facebook-square
	// End section view-product
	|
	|
	//Start section products
	section.products
		// containar Bootstrap 4
		.container
			.row
				// grid system Bootstrap 4      
				.col-sm-12.prod
					ul.title.justify-content-end
						li.btn.color-b.d-none المزيد
						li
							span  الأكثر طلباً 
							span: img(src="./image/Arrow.png", alt="")
			.row.mb-5
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.heart: i.far.fa-heart|
						|
						|
						div.cont-img: img(src="./image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li #[i.fas.fa-folder] اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.fas.fa-shopping-cart.animation-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.heart: i.far.fa-heart|
						|
						|
						div.cont-img: img(src="./image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li #[i.fas.fa-folder] اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.fas.fa-shopping-cart.animation-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.heart: i.far.fa-heart|
						|
						|
						div.cont-img: img(src="./image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li #[i.fas.fa-folder] اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.fas.fa-shopping-cart.animation-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.heart: i.far.fa-heart|
						|
						|
						div.cont-img: img(src="./image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li #[i.fas.fa-folder] اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.fas.fa-shopping-cart.animation-cart
			.row
				// grid system Bootstrap 4
				.col-sm-12.prod
					ul.title.justify-content-end
						li.btn.color-b.d-none المزيد
						li
							span  أحدث المنتجات
							span: img(src="./image/Arrow.png", alt="")
			.row
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.heart: i.far.fa-heart|
						|
						|
						div.cont-img: img(src="./image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li #[i.fas.fa-folder] اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.fas.fa-shopping-cart.animation-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.heart: i.far.fa-heart|
						|
						|
						div.cont-img: img(src="./image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li #[i.fas.fa-folder] اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.fas.fa-shopping-cart.animation-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.heart: i.far.fa-heart|
						|
						|
						div.cont-img: img(src="./image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li #[i.fas.fa-folder] اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.fas.fa-shopping-cart.animation-cart
				.col-sm-12.col-md-6.col-lg-4.col-xl-3.prodect.dir-right.text-right.my-4
					div(class="card")|
						// use icon fontAwesome 5
						|
						|
						span.heart: i.far.fa-heart|
						|
						|
						div.cont-img: img(src="./image/HTB1r4H2XsfrK1RkSnb4q6xHRFXaw.png" class="card-img-top" alt="img")
						.card-body
							p.card-text طقم أدوات مائدة خزفية, طقم أدوات خزفية بجودة عالية ، صناعة ألمانية وألوانية بيضاء عتيقة ، طقم أدوات خزفية خاصة بك 
							ul.info
								li #[i.fas.fa-folder] اركوبال - سيراميك
								li 100 جنيه
							ul.ditlist
								li تفاصيل المنتج
								// use icon fontAwesome 5
								li: i.fas.fa-shopping-cart.animation-cart                 
	// End section products		